.btn-secondary {
    background-color: #a6c!important;
    box-shadow: 0 2px 6px #00000010, 0 2px 4px #00000010;
    color: #fff;
}

.btn-secondary:not([disabled]):not(.disabled):active, .btn-secondary:not([disabled]):not(.disabled).active, .show>.btn-secondary.dropdown-toggle {
    box-shadow: 0 5px 11px #0000002e, 0 4px 15px #00000026;
    background-color: rgb(88, 168, 164)!important;
}

