<app-header></app-header>
<div class="container px-sm-0 mt-2" >
    <div class="wow fadeIn">
        <img src="../../assets/img/banner.png" class="img-fluid" alt="">
    </div>
</div>

<div class="container px-md-3 px-sm-0 mt-2" >
    <div class="row wow fadeIn">
        <div class="col-md-12 wow fadeIn card" style="z-index: 1;" style="box-shadow:0 0px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); background-color: #a6c!important;">
            <div class="row p-3">
                <div class="col-md-6 p-1">
                    <button mdbBtn type="button" class="btn btn-secondary"  [routerLink]="['1']" size="sm" block="true" routerLinkActive="active"  mdbWavesEffect>Foro 1</button>
                </div>
                <div class="col-md-6 p-1">
                    <button mdbBtn type="button" class="btn btn-secondary"  [routerLink]="['2']" size="sm" block="true" routerLinkActive="active"  mdbWavesEffect>Foro 2</button>    
                </div>
            </div>    
        </div>
    </div>
</div>

<router-outlet class="col-md-12 px-md-3 "></router-outlet>


<app-footer></app-footer>