/* You can add global styles to this file, and also import other style files */

body {
    font-family: "Montserrat"!important;
  }
  
/* Required for full background image */
body{
        /* fallback for old browsers */
        background: #543472;
      
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, #833780, #283165);
      
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, #833780, #283165)
}

.color-font{
     /* fallback for old browsers */
     background: #543472;
      
     /* Chrome 10-25, Safari 5.1-6 */
     background: -webkit-linear-gradient(to bottom, #833780, #283165);
   
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     background: linear-gradient(to bottom,#833780, #283165)
}

.color-font-vertical{
    /* fallback for old browsers */
    background: #543472;
     
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to top, #833780, #283165);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top,#833780, #283165)
}

html,
body,
header,
#intro-section {
    height: 100vh !important;
    //background-color: #aca6ce;
}

@media (max-width: 740px) {
    html,
    body,
    header,
    #intro-section {
        min-height: 100vh;
    }
}

.top-nav-collapse {
    background-color: #0c231e!important;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #0c231e !important;
    }
}

.rgba-gradient {
    background: -moz-linear-gradient(44deg, #88a8d473, rgba(13, 17, 198, 0.69) 100%);
    background: -webkit-linear-gradient(44deg, #88a8d473, rgba(13, 17, 198, 0.69) 100%);
    background: linear-gradient(44deg, #88a8d473, rgba(13, 17, 198, 0.69) 100%);
}

.view.mask {
    overflow: auto !important;
}

//HEADER GOB
.inverse2 {
    background-color: #0C231E !important;
    border-color: transparent !important;
}

/* FOOTER*/

.main-footer2 {
    background-color: #13322B;
    min-height: 56px;
    color: #FFF;
    padding: 0px 0 0px;
    text-align: left;
    font-weight: 300;
}

.main-footer2 .list-info {
    line-height: auto;
    color: white;
    background-size: cover;
    background-position: bottom;
    padding: 30px 10px 10px;
}

.main-footer2 .list-info h5 {
    font-weight: 300;
    margin-bottom: 20px;
}

.main-footer2 .list-info ul {
    margin: 0 0 60px;
    padding: 0;
}

.main-footer2 .list-info ul li {
    list-style-type: none;
    margin: 0 0 2px;
    padding: 0;
    line-height: 110%;
}

.main-footer2 .list-info a {
    color: #FFF;
    font-size: 14px;
    text-decoration: none;
}

.main-footer2 .list-info p {
    margin-bottom: 15px;
}

.main-footer2 p {
    margin: 0;
    font-size: 14px;
    line-height: 136%;
    height: auto;
    position: static;
}

.footer-pleca2 {
    background-color: #12322B;
    background-image: url(https://framework-gb.cdn.gob.mx/landing/img/pleca.svg);
    background-repeat: repeat-x;
}
